@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2686 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2686 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2686 0 0);
  --primary: oklch(0.6929 0.1628 135.8604);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.9304 0.0045 314.8035);
  --secondary-foreground: oklch(0.431 0.0199 313.4395);
  --muted: oklch(0.9447 0.0041 301.4227);
  --muted-foreground: oklch(0.5366 0.017 312.1233);
  --accent: oklch(0.9304 0.0045 314.8035);
  --accent-foreground: oklch(0.431 0.0199 313.4395);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8922 0.0075 312.2958);
  --input: oklch(0.8922 0.0075 312.2958);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.6929 0.1628 135.8604);
  --chart-2: oklch(0.6335 0.1436 133.1463);
  --chart-3: oklch(0.5621 0.1167 129.2559);
  --chart-4: oklch(0.4945 0.0922 126.493);
  --chart-5: oklch(0.4364 0.0772 125.8341);
  --sidebar: oklch(0.9447 0.0041 301.4227);
  --sidebar-foreground: oklch(0.2686 0 0);
  --sidebar-primary: oklch(0.6929 0.1628 135.8604);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9479 0.0348 140.0056);
  --sidebar-accent-foreground: oklch(0.4945 0.0922 126.493);
  --sidebar-border: oklch(0.8922 0.0075 312.2958);
  --sidebar-ring: oklch(0.6929 0.1628 135.8604);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 2px 4px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 4px 6px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 8px 10px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.6929 0.1628 135.8604);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.2686 0 0);
  --accent-foreground: oklch(0.9219 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.7364 0.1716 137.9576);
  --chart-2: oklch(0.6335 0.1436 133.1463);
  --chart-3: oklch(0.4945 0.0922 126.493);
  --chart-4: oklch(0.5621 0.1167 129.2559);
  --chart-5: oklch(0.4945 0.0922 126.493);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.6929 0.1628 135.8604);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4945 0.0922 126.493);
  --sidebar-accent-foreground: oklch(0.8378 0.1062 139.2023);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.6929 0.1628 135.8604);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 2px 4px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 4px 6px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 8px 10px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Space Mono", monospace;
  }
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full border-[1px] border-solid border-transparent bg-clip-padding;
}
